@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap")
layer(base);

@import "tailwindcss";
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: Maven Pro, ui-sans-serif, system-ui, sans-serif;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.wora-border {
  @apply border border-black/5 dark:border-white/10;
}

.wora-transition {
  @apply transition-all duration-300;
}

.h-utility {
  height: calc(100vh - 14.25rem);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.draggable-region {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 90px); /* 90px is the aprox width of the buttons */
  height: 30px;
  background: #00000000;
  z-index: 1000;
}

.non-draggable {
  -webkit-app-region: no-drag;
}

html {
  overscroll-behavior: none;
}
